  
* {
    box-sizing: border-box;
    margin: 0;
    
}

h4 {
    padding: 20px 0;
}

.results {
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 233, 238);
    align-content: center;
}