  
* {
    box-sizing: border-box;
    margin: 0;
    
}

.page {
    padding: 70px;
}

.headers {
    display: flex;
    justify-content: space-between;
}
.footer {
    float: right;
    cursor: pointer;
    color: #1AC6FC;
    text-decoration: none;
    
}